.input-field {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: hidden;
  min-width: 144px;
}

.input-field input {
  flex: 1 1 auto;
  width: 100%;
  color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  font-size: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.25rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.input-field input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
  outline: none;
}

.input-field input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.input-field input:hover::-webkit-input-placeholder,
.input-field input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-field input:focus-within,
.input-field input:focus-visible {
  border: none;
  outline: none;
}

.input-field .suffix {
  display: flex;
  padding: 0px 6px;
  color: rgba(0, 0, 0, 0.65);
}
