.base img {
  visibility: hidden;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}
.circular--landscape {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}
.circular--landscape img {
  visibility: visible;
  width: auto;
  height: 100%;
  margin-left: 0;
}

.circular--portrait {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}
.circular--portrait img {
  visibility: visible;
  width: 100%;
  height: auto;
}

.circular--no-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 800;
  color: white;
  background-color: blueviolet;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
