.date-picker-field {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 144px;
}

.date-picker-input {
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  border: none;
  font-size: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.25rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.date-picker-input:focus,
.date-picker-input:focus-within {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
  outline: none;
}

.date-picker-field input,
.date-picker-field .react-date-picker__inputGroup__divider {
  color: rgba(0, 0, 0, 0.75);
}

.date-picker-field input:focus-visible {
  border: none;
  outline: none;
}

.date-picker-field .react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none;
}

.disabled {
  background-color: inherit;
}

.disabled .date-picker-input {
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

.disabled .react-date-picker__button {
  display: none;
}
