/* body container */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "work sans";
}

/* LOGIN */
.login-body {
  max-width: 400px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 25px;
}

.login-input input {
  padding-bottom: 0.75rem;
  font-weight: 600;
}

.login-body h3 {
  text-align: center;
  color: #000;
  /* font-weight: 700; */
  font-size: 2em;
  font-family: "work sans";
  margin: 20px 0 30px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* REGISTER */

.register-body {
  max-width: 750px;
  min-width: 300px;
  min-height: 450px;
  width: 60%;
  /* height: 60%; */
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 25px;
}

.register-body h3 {
  text-align: center;
  color: #000;
  /* font-weight: 700; */
  font-size: 2em;
  font-family: "work sans";
  margin: 20px 0 30px 0;
}

.register-form form {
  padding: 2em 1.25em;
}

/* common */
.form-btn-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px 0;
}
.form-btn {
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34, 193, 195);
  background: -webkit-linear-gradient(
    90deg,
    #fff94c,
    #004ff9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #fff94c, #004ff9);
  border: 0px;
  text-transform: uppercase;
  transition: opacity 0.25s ease-out;
}

.form-btn:hover {
  opacity: 0.8;
}

.footer {
  text-align: center;
  margin-bottom: 3em;
}

.footer a {
  font-weight: 700;
  cursor: pointer;
}
