@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

body {
  background: #004ff9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    90deg,
    #fff94c,
    #004ff9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #fff94c,
    #004ff9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "work sans";
}

html {
  font-size: 100%;
}

.required label::after {
  content: "*";
  color: red;
  padding: 0 0.25em;
}
