@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

body {
  background: #004ff9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    90deg,
    #fff94c,
    #004ff9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #fff94c,
    #004ff9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "work sans", "Lucida Console", "Courier New", monospace;
  /* 
  font-family: work sans ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji"; */
}

html {
  font-size: 100%;
}

/* input fields container */
.input-field-container {
  background-color: rgba(255, 255, 255, 0.15);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25em;
  min-width: 144px;
}
.input-field-container label {
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 4px 0;
  align-self: start;
  padding-left: 1rem;
  padding-bottom: 0.25rem;
  color: rgba(0, 0, 0, 0.55);
}

.required label::after {
  content: "*";
  color: red;
  padding: 0 0.25em;
}

.disabled {
  color: rgba(0, 0, 0, 0.5);
  background-color: inherit;
}

.disabled label {
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.disabled input {
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed !important;
}

.disabled input:hover::-webkit-input-placeholder,
.disabled input:focus::-webkit-input-placeholder {
  opacity: 1 !important;
}

.error {
  padding-left: 1.5em;
  color: red;
  font-size: 0.75em;
}
